
mixin media(type, width, height)
  if media == type
    skin(width=width height=height)
      block

mixin longnote(x, cur, add, visible)
  // body
  sprite(image='Note/DX/Note.png'
          frame=(cur.width + 'x64+' + cur.x + '+' + (22 + add))
          x=(x)
          y=('(y*'+area_height+')+4-12')
          width=(cur.width)
          height=('height*'+area_height)
          visible=visible)
  // tail
  sprite(image='Note/DX/Note.png'
          frame=(cur.width + 'x8+' + cur.x + '+' + (104 + add))
          x=(x)
          y='((y+height)*'+area_height+')+4-12'
          visible=visible)
  // head
  sprite(image='Note/DX/Note.png'
          frame=(cur.width + 'x8+' + cur.x + '+' + (12 + add))
          x=(x)
          y='(y*'+area_height+')-12'
          visible=visible)

mixin notes(columns)
  - var x = 0
  each column in columns
    - var cur = styles[column.style]
    - var ch  = column.channel
    sprite(image='Note/DX/Highlight.png'
            frame=(cur.width + 'x552+' + cur.x + '+0')
            x=(x) y='0' blend='screen' scale-x='1')
      animation
        keyframe(t='0' alpha='0' scale-x='1')
      animation(on='p1_' + ch + '_down')
        keyframe(t='0' alpha='1' scale-x='1')
      animation(on='p1_' + ch + '_up')
        keyframe(t='0' alpha='1' scale-x='1' x=(x))
        keyframe(t='0.18' ease='quadOut' alpha='0' scale-x='0' x=(x + cur.width / 2))
    object(key='p1_note_' + ch)
      sprite(image='Note/DX/Note.png' frame=(cur.width + 'x12+' + cur.x + '+0')
              x=(x) y='(y*'+area_height+')-12')
    object(key='p1_longnote_' + ch)
      +longnote(x, cur, 0, '!active && !missed')
      +longnote(x, cur, 100, '!!active && !missed')
      +longnote(x, cur, 200, '!!missed')

    - x = x + cur.width + 1

mixin note-area(modeObject)
  sprite(image=modeObject.background x='0' y='0')
  sprite(image='NoteArea/Flash.png' x='1' y='455' blend='screen'
          alpha='1 - (t % 0.4) / 0.4')
  group(x='1' mask='283x550+1+0')
    +notes(modeObject.columns)

mixin judgments
  each judgment in judgments
    sprite(image=judgment.image x='0' y='0' alpha='0')
      +judgment-animation(judgment)

mixin judgment-animation(item)
  each judgment in judgments
    animation(on='p1_judge_' + judgment.name)
      if item.name == judgment.name
        keyframe(t='0' alpha='1')
      else
        keyframe(t='0' alpha='0')
